html,
body {
  margin: 0;
  padding: 0;
  max-width: 800px;
  max-height: 600px;
  overflow: hidden;
  font-family: system-ui;
  font-size: 14px;
}

body {
  display: flex;
  flex-flow: column;
}
body > div {
  align-self: stretch;
}

#status {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  color: black;
  background: #fff8e7;
}
#status p {
  display: inline-block;
  margin: 0;
  text-align: center;
  white-space: pre-wrap;
}

#controls {
  border-bottom: 1px solid #b9b8b8;
}

#controls,
#actions {
  flex: 0 0 auto;
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  padding: 6px;
}
#controls .message:empty,
#actions .message:empty {
  display: none;
}
#controls hr,
#actions hr {
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  margin: 0;
  border: none;
}
#controls button,
#actions button {
  flex: 0 0 auto;
  align-self: center;
  margin: 3px;
  padding: 6px 12px;
  color: white;
  border: 1px solid #1c1c1c;
  border-radius: 3px;
  background: #595959;
  outline: none;
}
#controls button:active,
#actions button:active {
  background: #898989;
  border-color: #595959;
}
#controls button.highlight,
#actions button.highlight {
  border-color: #116611;
  background: #2d882d;
}
#controls button.highlight:active,
#actions button.highlight:active {
  background: #88cc88;
  border-color: #2d882d;
}
#controls input,
#actions input {
  padding: 3px 6px;
}
#controls div,
#actions div {
  flex: 1 1 auto;
  align-self: center;
  min-width: fit-content;
  max-width: 35ch;
  margin: 3px;
  padding: 3px;
}
#controls div.multi,
#actions div.multi {
  padding: 3px 0;
}
#controls div.multi div,
#actions div.multi div {
  margin: 0;
  padding: 0 3px;
}
#controls div.multi div + div,
#actions div.multi div + div {
  padding-top: 3px;
}
#controls div.regex,
#actions div.regex {
  max-width: 80ch;
}
#controls div input,
#controls div label,
#actions div input,
#actions div label {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}
#controls div label,
#actions div label {
  padding-bottom: 1.5px;
}
#controls div.checkbox,
#actions div.checkbox {
  flex: 0 0 auto;
}
#controls div.checkbox input,
#controls div.checkbox label,
#actions div.checkbox input,
#actions div.checkbox label {
  display: inline-block;
  vertical-align: top;
  width: auto;
  padding: 0;
}
#controls div.checkbox input,
#actions div.checkbox input {
  margin-right: 3px;
  margin-top: 3px;
}

#table {
  overflow-y: auto;
  position: relative;
  max-width: 800px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: white;
}
ul#header {
  position: sticky;
  top: 0;
}
ul#header span {
  background: #ebebeb;
}
ul#list:empty::after {
  content: 'No Files!';
  display: block;
  padding: 6px;
  color: white;
  text-align: center;
  background: #aa3939;
}
ul li {
  display: flex;
  flex-flow: row;
  border-bottom: 1px solid #b9b8b8;
}
ul li span,
ul li button {
  display: inline-block;
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: 2px 3px;
  font: inherit;
}
ul li button,
ul li .button {
  flex: 0 0 auto;
  width: 24px;
  border: none;
  outline: none;
  font-size: 1.1em;
  color: white;
}
ul li button.toggle-button, ul li button.download-button,
ul li .button.toggle-button,
ul li .button.download-button {
  background: #2d882d;
}
ul li textarea {
  -webkit-appearance: none;
  resize: none;
  box-sizing: border-box;
  width: auto;
  height: auto;
  padding: 2px 3px;
  font: inherit;
  word-wrap: break-word;
  word-break: break-all;
  border: none;
  background: transparent;
  outline: none;
  overflow: hidden;
}
ul li span,
ul li textarea {
  flex: 1 1 auto;
  overflow-wrap: break-word;
}
ul li span.domain,
ul li textarea.domain {
  width: 15ch;
}
ul li span.url,
ul li textarea.url {
  width: 30ch;
}
ul li span.name,
ul li textarea.name {
  width: 15ch;
  text-align: right;
}
ul li span.type,
ul li textarea.type {
  min-width: 5ch;
  width: 6ch;
}
ul li span.url, ul li span.type,
ul li textarea.url,
ul li textarea.type {
  background: #ebebeb;
}
ul li.disabled .toggle-button {
  background: #aa3939;
}
ul li.disabled span,
ul li.disabled textarea {
  opacity: 0.3;
  pointer-events: none;
}
